<header class="site-header">
  <nav id='nav'>
    <ul>
      <li><a href="">网站设计</a></li>
      <li><a href="">大数据</a></li>
      <li><a href="">云计算</a></li>
      <li><a href="">基础运维</a></li>
      <li><a href="">生活随记</a></li>
    </ul>
    <p id="blog_title">--魔都铮铮岁月</p>
  </nav>


</header>

  <script type="text/javascript">
var duoshuoQuery = {short_name:"liuhuan2014"};
  (function() {
      var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
              ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                  ds.charset = 'UTF-8';
                      (document.getElementsByTagName('head')[0] 
                           || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
  </script>
  <!-- 多说公共JS代码 end -->

