<header class="site-header">
  <nav id='nav'>
    <ul>
      <li><a href="/index.html">首页</a></li>
      <li><a href="/showByCategory.html?cat=网站设计">网站设计</a></li>
      <li><a href="/showByCategory.html?cat=大数据">大数据</a></li>
      <li><a href="/showByCategory.html?cat=云计算">云计算</a></li>
      <li><a href="/showByCategory.html?cat=基础运维">基础运维</a></li>
      <li><a href="/showByCategory.html?cat=分布式">分布式</a></li>
      <li><a href="/showByCategory.html?cat=读书笔记">读书笔记</a></li>
      <input type="text"  id="search_text">
      <span class="glyphicon glyphicon-search nav-search"></span>
    </ul>
  </nav>


</header>
  <script type="text/javascript">
var duoshuoQuery = {short_name:"liuhuan2014"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
  <!-- 多说公共JS代码 end -->

