<!DOCTYPE html>
<html>

  {% include head.html %}
<link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="/js/modernizr.custom.js"></script>
  <body>

    {% include header.html %}

    <div class="page-content">
    <div class="container">
      <div class="clearfix">
        <span>新文速递</span>
        <h1>记事榜</h1>
      </div> 
      <div class="main">
        <ul class="cbp_tmtimeline">
            {% for post in paginator.posts %}
          <li>
            <time class="cbp_tmtime" datetime="{{ post.date | date: "%b %-d, %Y" }}"><span>4/10/13</span> <span>18:30</span></time>
            <div class="cbp_tmicon cbp_tmicon-phone"></div>
            <div class="cbp_tmlabel">
              <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </div>
          </li>
              {% endfor %}
        </ul>
      </div>
    </div>
    </div>
    {% include footer.html %}

  </body>

</html>
