
<!DOCTYPE html>
<html>

  {% include head.html %}
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="/js/modernizr.custom.js"></script>
  <body>


    {% include header.html %}
    <div class="page-content">
    <div class="container">
      <div class="clearfix">
        <span>新文速递</span>
        <h1>记事榜</h1>
      </div> 
      <div class="main">
        <ul class="cbp_tmtimeline">
        {% for category in site.categories %}
            <div id='{{ category | first }}' style="display:none">
              <h2>{{ category | first }}<b>({{ category | last | size }})</b></h2>
              {% for post in category.last %}
                <li>
                <time class="cbp_tmtime" datetime="{{ post.date }}"><span>{{  post.date | date: "%Y/%m/%d"  }}</span> <span>{{  post.date | date: "%H:%M" }}</span></time>
                  <div class="cbp_tmicon cbp_tmicon-phone"></div>
                  <div class="cbp_tmlabel">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                  </div>
                </li>
              {% endfor %}
              </div>
        {% endfor %}
        </ul>
      </div>
    </div>
    </div>

    {% include footer.html %}

  </body>

</html>
<script type="text/javascript">
function getArgs() {
  var args = {};
  var query = location.search.substring(1);
  // Get query string
  var pairs = query.split("&");
  // Break at ampersand
  for(var i = 0; i < pairs.length; i++) {
    var pos = pairs[i].indexOf('=');
    // Look for "name=value"
    if (pos == -1) continue;
    // If not found, skip
    var argname = pairs[i].substring(0,pos);// Extract the name
    var value = pairs[i].substring(pos+1);// Extract the value
    value = decodeURIComponent(value);// Decode it, if needed
    args[argname] = value;
    // Store as a property
  }
  return args;// Return the object
}
var param=getArgs();
var temp = document.getElementById(param['cat']);
temp.style.display='block';
temp.parentNode.innerHTML=temp.innerHTML;
</script>
